{% extends 'base.html' %}
{% load static %}
{% block title %}{{ recipe.title }}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <h1>Создание рецепта</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">Название рецепта:</label>
            {{ recipe_form.title }}
        </div>
        <div class="form-group">
            <label for="id_dish_type">Вид блюда:</label>
            {{ recipe_form.dish_type }}
        </div>
        <div class="form-group">
            <label for="id_description">Описание:</label>
            {{ recipe_form.description }}
        </div>
        <div class="form-group">
            <label for="id_image">Картинка рецепта:</label>
            {{ recipe_form.image }}
        </div>
        <div class="form-group">
            <label for="id_halal">Халяль:</label>
            {{ recipe_form.halal }}
        </div>
        <div class="form-group">
            <label for="id_vegan">Вегетарианское:</label>
            {{ recipe_form.vegan }}
        </div>
        <div id="ingredient-forms">
            <fieldset>
                <legend>Ингредиенты:</legend>
                {{ ingredient_formset.management_form }}
                {% for form in ingredient_formset %}
                <div class="ingredient-form">
                    {{ form.as_p }}
                </div>
                {% endfor %}
            </fieldset>
            <fieldset>
                <legend>Шаги готовки:</legend>
                {{ steps_formset.management_form }}
                {% for form in steps_formset %}
                <div class="ingredient-form">
                    {{ form.as_p }}
                </div>
                {% endfor %}
            </fieldset>
            <a class="btn" href="{% url 'create_recipe_extra' extra_ing|add:1 extra_steps %}">Добавить ингредиент</a>
            <a class="btn" href="{% url 'create_recipe_extra' extra_ing extra_steps|add:1 %}">Добавить шаг</a>
            {% if extra_ing > 1 %}
            <a class="btn" href="{% url 'create_recipe_extra' extra_ing|add:'-1' extra_steps %}">Убрать ингредиент</a>
            {% elif extra_steps > 1%}
            <a class="btn" href="{% url 'create_recipe_extra' extra_ing extra_steps|add:'-1' %}">Убрать шаг</a>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Сохранить рецепт</button>
    </form>
</div>

{% for i in formset.empty_form %}
{{ i }}
{% endfor %}
{% endblock %}