{% extends 'base.html' %}
{% load static %}

{% block title %}Recipe List{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Recipe List</h2>
    <div class="container text-center">
    <div class="row align-items-start">
        {% for recipe in recipes %}
        <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="{{ recipe.image.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ recipe.title }}</h5>
                <p class="card-text">{{ recipe.description }}</p>
                <a href="{{ recipe.get_absolute_url }}" class="btn btn-primary">Смотреть рецепт</a>
              </div>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}