{% extends 'base.html' %}
{% load static %}
{% block title %}Suggest New Ingredient{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <h1>Suggest New Ingredient</h1>
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
